body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

table {
    width: 80%;
    margin: 100px auto auto;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.button {
    background-color: #ff0000; /* Primary color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 50px;
  }
  
  /* Hover Effect */
  .button:hover {
    background-color: #0056b3; /* Darker shade for hover */
    transform: scale(1.05); /* Slight enlargement */
  }
  
  /* Focused State */
  .button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Disabled State */
  .button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  .ucl-table{
    margin-top:-50px;
  }